In [1]:
import numpy as np
import pandas as pd

In [2]:
# Load unlabeled Survey Data
survey = pd.read_csv('cce_survey_data.csv').dropna(subset=['zipcode'])

# Clean unlabeled Survey data
survey['zipcode'] = survey['zipcode'].astype(int)
survey

,bike_rider,zipcode,ebike_rider,by_public,by_car,by_bike,by_ebike,by_walking,no_commute,miles,try_bike,ebike_class,private_locker,group_locker,locker,ebike_rules,safty,interested
0,no,92115,no,0,0,0.0,0,0,1,NaN,maybe,no,very,very,NaN,don't know,not very,no
1,no,92129,no,0,1,0.0,0,0,0,NaN,no,a bit,NaN,NaN,NaN,not very,somewhat,no
2,no,92115,yes,1,0,0.0,0,0,0,1.0,maybe,a bit,very,somewhat,NaN,don't know,very,yes
3,no,92562,no,0,0,0.0,0,0,1,NaN,NaN,no,NaN,NaN,NaN,don't know,not concerned,maybe
4,yes,92109,no,0,0,0.0,0,0,1,NaN,NaN,no,NaN,NaN,NaN,don't know,not concerned,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,no,91945,no,0,1,NaN,0,0,0,20.0,NaN,a bit,NaN,NaN,somewhat,not very,NaN,yes
162,yes,92108,no,0,1,NaN,0,0,0,10.0,NaN,no,NaN,NaN,somewhat,not very,NaN,yes
163,yes,92117,no,0,1,NaN,0,0,0,15.0,NaN,no,NaN,NaN,very,not very,NaN,maybe
164,yes,92102,no,0,1,NaN,0,0,0,12.0,NaN,no,NaN,NaN,somewhat,somewhat,NaN,maybe
165,no,92139,no,1,0,NaN,0,0,0,15.0,NaN,no,NaN,NaN,no opinon,don't know,NaN,no

In [3]:
# Load 6 clusters zipcode data
zipcode = pd.read_csv('labeled SD zipcode 6 clusters.csv')
zipcode

,Zipcode,Population,Land Area (Sq. Miles),Population Density (People per Square Mile),Median Age,Population By Age % (Under 18 Years),Population By Age % (18 to 34),Population By Age % (35 to 64),Population By Age % (65 and Over),Male %,...,Public Transit %,Motorcycle %,Bicycle %,Walked %,Other %.1,Worked at Home %,Health Insurance Coverage %,Married %,Median House Value $,label
0,91902,17759.0,11.22,1583.23,45.8,17.62,20.69,38.98,22.72,48.33,...,0.97,0.16,0.37,0.00,1.53,10.71,94.78,52.66,732000.0,1
1,91910,76291.0,12.59,6061.25,38.2,21.70,23.58,39.95,14.77,49.92,...,3.86,0.52,0.29,0.95,0.57,8.75,91.27,48.09,549100.0,3
2,91911,88589.0,12.73,6960.37,35.8,24.01,24.85,38.28,12.86,48.26,...,4.16,0.18,0.19,1.23,1.04,5.67,90.78,49.91,485300.0,3
3,91913,53725.0,9.10,5906.59,35.0,25.91,24.07,39.45,10.58,50.70,...,0.87,0.26,0.00,1.29,2.28,11.35,93.92,53.91,578600.0,1
4,91914,17742.0,6.64,2670.34,37.1,25.17,20.57,44.35,9.92,52.68,...,1.19,0.08,0.43,7.09,3.51,10.57,93.01,61.59,739300.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91,92081,29944.0,8.94,3351.09,37.2,22.70,23.30,40.92,13.08,51.13,...,0.72,0.95,0.11,1.22,0.44,12.79,91.90,49.03,599400.0,1
92,92083,38875.0,5.55,7008.14,33.1,26.01,27.68,36.28,10.03,50.05,...,1.97,0.65,0.18,1.25,2.40,5.81,86.26,47.16,467600.0,3
93,92084,49759.0,28.34,1755.69,35.1,23.92,25.97,37.22,12.89,51.87,...,0.52,0.03,0.28,0.78,0.84,9.61,87.58,47.87,600600.0,1
94,92091,1331.0,1.29,1031.56,58.2,14.73,10.74,39.52,35.01,43.35,...,2.81,0.00,0.00,0.00,0.00,22.47,93.09,49.87,1359400.0,0
95,92672,38872.0,35.56,1093.04,40.3,17.69,27.17,36.91,18.24,51.57,...,1.08,0.05,0.12,7.97,1.48,14.59,96.30,54.76,980200.0,4

In [4]:
# Assign Label to Survey data
def assign_label(value):
    for i in range(len(zipcode)):
        if value == zipcode['Zipcode'][i]:
            return zipcode['label'][i]
    return 'NaN'
        
survey['label'] = survey['zipcode'].apply(assign_label)
survey

,bike_rider,zipcode,ebike_rider,by_public,by_car,by_bike,by_ebike,by_walking,no_commute,miles,try_bike,ebike_class,private_locker,group_locker,locker,ebike_rules,safty,interested,label
0,no,92115,no,0,0,0.0,0,0,1,NaN,maybe,no,very,very,NaN,don't know,not very,no,3
1,no,92129,no,0,1,0.0,0,0,0,NaN,no,a bit,NaN,NaN,NaN,not very,somewhat,no,0
2,no,92115,yes,1,0,0.0,0,0,0,1.0,maybe,a bit,very,somewhat,NaN,don't know,very,yes,3
3,no,92562,no,0,0,0.0,0,0,1,NaN,NaN,no,NaN,NaN,NaN,don't know,not concerned,maybe,NaN
4,yes,92109,no,0,0,0.0,0,0,1,NaN,NaN,no,NaN,NaN,NaN,don't know,not concerned,no,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,no,91945,no,0,1,NaN,0,0,0,20.0,NaN,a bit,NaN,NaN,somewhat,not very,NaN,yes,3
162,yes,92108,no,0,1,NaN,0,0,0,10.0,NaN,no,NaN,NaN,somewhat,not very,NaN,yes,NaN
163,yes,92117,no,0,1,NaN,0,0,0,15.0,NaN,no,NaN,NaN,very,not very,NaN,maybe,1
164,yes,92102,no,0,1,NaN,0,0,0,12.0,NaN,no,NaN,NaN,somewhat,somewhat,NaN,maybe,3
165,no,92139,no,1,0,NaN,0,0,0,15.0,NaN,no,NaN,NaN,no opinon,don't know,NaN,no,3

In [5]:
# Export Labeled Survey as csv file
csv_filename = 'labeled_cce_survey_data.csv'
survey.to_csv(csv_filename, index=False)

# Export Labeled Survey as excel file
excel_filename = 'labeled_cce_survey_data.xlsx'
survey.to_excel(excel_filename, index=False)